table {
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 5px;
    border: 1px solid #000;
}

tbody tr:nth-child(even) {
    background-color: #f0f0ff;
}

tbody tr:nth-child(odd) {
    background-color: #fffff0;
}

h1 {
    color: darkblue;
  }
  
h2 {
    color: olive;
}